<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.cryptrax.trx_miner" >

    <application
        android:name="com.dakuinternational.common.application.App"
        android:allowBackup="true"
        android:icon="@drawable/ic_app_logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_app_logo"
        android:supportsRtl="true"
        android:usesCleartextTraffic="true"
        android:theme="@style/Theme.NổHũ888" >
        <activity
            android:name="com.cryptrax.trx_miner.presentation.activity.SplashActivity"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.cryptrax.trx_miner.presentation.activity.MainActivity"
            android:exported="false"/>
    </application>

</manifest>